/* ---------------------------------------------------------------- */
/* ----- Starting Page ----- */
/* ---------------------------------------------------------------- */
/* For small and medium size device */
.starting-page-main-div {
  background-color: #ECECEC;
}

.starting-page-title {
  color: #142D4C;
  font-size: 80px;
  text-align: center;
  margin: 150px 0 200px 0;
}

.starting-page-form-container {
  text-align: center;
}

.starting-page-topic-label {
  color: #385170;
  font-size: 45px;
  text-align: center;
  margin: 0 0 20px 0;
}

.starting-page-input-topic {
  width: 50%;
  color: #385170;
  font-size: 30px;
}

.starting-page-problem-image-label {
  color: #385170;
  font-size: 45px;
  text-align: center;
  margin: 80px 0 20px 0;
}

.starting-page-choose-problem {
  width: 38%;
  color: #385170;
  font-size: 30px;
}

.starting-page-solve-button {
  margin: 150px 0 300px 0;
  font-size: 30px;
}

.starting-page-loading-message {
  margin: 190px 0 310px 0;
  color: #385170;
  font-size: 30px;
  font-weight: 600;
  display: none;
}

.starting-page-created-by {
  color: #142D4C;
  font-size: 35px;
  text-align: center;
  margin: 30px 0 120px 0;
  font-weight: 700;
}

/* For large size device */
@media (min-width: 992px) {  
  .starting-page-title {
    color: #142D4C;
    font-size: 60px;
    text-align: center;
    margin: 50px 0 80px 0;
  }
  
  .starting-page-form-container {
    text-align: center;
  }
  
  .starting-page-topic-label {
    color: #385170;
    font-size: 30px;
    text-align: center;
    margin: 0 0 20px 0;
  }
  
  .starting-page-input-topic {
    width: 50%;
    color: #385170;
    font-size: 20px;
  }
  
  .starting-page-problem-image-label {
    color: #385170;
    font-size: 30px;
    text-align: center;
    margin: 50px 0 20px 0;
  }
  
  .starting-page-choose-problem {
    width: 250px;
    color: #385170;
    font-size: 20px;
  }
  
  .starting-page-solve-button {
    margin: 100px 0 50px 0;
    font-size: 20px;
  }

  .starting-page-loading-message {
    margin: 120px 0 120px 0;
    color: #385170;
    font-size: 20px;
    font-weight: 600;
    display: none;
  }
  
  .starting-page-created-by {
    color: #142D4C;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    margin: 70px 0 60px 0;
  }
}

/* Loading animation */
.loading-point-1 {
  opacity: 1;
  animation: point-1-animation 1s infinite;
}

.loading-point-2 {
  opacity: 1;
  animation: point-2-animation 1s infinite;
}

.loading-point-3 {
  opacity: 1;
  animation: point-3-animation 1s infinite;
}

@keyframes point-1-animation {
  0%   {opacity: 0;}
  20%  {opacity: 0;}
  25%  {opacity: 1;}
  100% {opacity: 1;}
}

@keyframes point-2-animation {
  0%   {opacity: 0;}
  50%  {opacity: 0;}
  55%  {opacity: 1;}
  100% {opacity: 1;}
}

@keyframes point-3-animation {
  0%   {opacity: 0;}
  80%  {opacity: 0;}
  85%  {opacity: 1;}
  100% {opacity: 1;}
}

/* ---------------------------------------------------------------- */
/* ----- Solution Page ----- */
/* ---------------------------------------------------------------- */
/* For small and medium size device */
.solution-page-main-div {
  background-color: #ECECEC;
  text-align: center;
}

.solution-page-question-title {
  color: #385170;
  font-size: 60px;
  font-weight: 800;
  margin: 350px 0 30px 0;
}

.solution-page-question-content {
  color: #385170;
  font-size: 45px;
  font-weight: 600;
  margin: 20px 0 0px 0;
}

.solution-page-answer-title {
  color: #385170;
  font-size: 60px;
  font-weight: 800;
  margin: 120px 0 30px 0;
}

.solution-page-answer-content {
  color: #385170;
  font-size: 45px;
  font-weight: 600;
  margin: 20px 0 80px 0;
}

.solution-page-back-button {
  margin: 185px 0 400px 0;
  font-size: 25px;
}

/* For large size device */
@media (min-width: 992px) {  
  .solution-page-question-title {
    color: #385170;
    font-size: 45px;
    font-weight: 650;
    margin: 160px 0 10px 0;
  }
  
  .solution-page-question-content {
    color: #385170;
    font-size: 35px;
    font-weight: 600;
    margin: 20px 0 0px 0;
  }
  
  .solution-page-answer-title {
    color: #385170;
    font-size: 45px;
    font-weight: 650;
    margin: 80px 0 10px 0;
  }
  
  .solution-page-answer-content {
    color: #385170;
    font-size: 35px;
    font-weight: 600;
    margin: 20px 0 50px 0;
  }
  
  .solution-page-back-button {
    margin: 80px 0 150px 0;
    font-size: 20px;
  }
}

/* ---------------------------------------------------------------- */
/* ----- Error Page ----- */
/* ---------------------------------------------------------------- */
/* For large size device */
@media (min-width: 992px) {
  .error-page-main-container {
    background-color: #ECECEC;
    text-align: center;
    padding: 100px 0;
  }
  
  .error-page-oops-title {
    color: #142D4C;
    font-size: 70px;
    font-weight: 700;
    margin: 20px 0 20px 0;
  }
  
  .error-page-error-message {
    color: #142D4C;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    padding: 0 10%;
    min-height: 120px;
  }
  
  .error-page-symbol {
    width: 15%;
    margin-bottom: 130px;
  }
  
  .error-page-back-button {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
